@import '../../colors.scss';

.signup__nav {
  background-color: $navbar-color;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; 
  position: sticky;
  top:0;
  left: 0;
  z-index: 9999;
}
.navbar--transparent {
  background-color: transparent;
}
.signup__nav--responsive {
  display: none;
}
.signup__nav--responsive a {
  line-height: 1.5;
  color: $color-quaternary-dark;
}
nav a {
  padding: 0 10px; 
  vertical-align: baseline;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.signup__links  {
	display: flex;
	align-items: center;
}
.signup__links a {
   color: white;
}
.signup__nav-home,
.nav__hamburger {
  width: 30px;
  height: 30px;
  fill: white;
  cursor: pointer;
  padding: 0 10px;
}

@media only screen and (max-width: 600px)  {
  .signup__links {
    display: none;
  }
  .signup__nav--responsive {
    display: block;
    position: relative;
    overflow: hidden;
    &:hover {
      overflow: inherit;
    }
  }
  .signup__links--responsive {
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: white;
    padding: 10px;
  }
}
